body{
  margin:0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background:#0b0f14;
  color:#e6edf3;
}

/* NAVBAR */
.navbar{
  max-width:1100px;
  margin:auto;
  padding:24px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-weight:800;
  font-size:18px;
}

nav a{
  margin-left:22px;
  text-decoration:none;
  color:#9aa7b2;
  font-size:14px;
}

nav a:hover{
  color:#ffffff;
}

/* HOME */
.home{
  height:70vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.home h1{
  font-size:72px;
  margin:0;
  letter-spacing:-1.5px;
}

.home h2{
  font-size:22px;
  font-weight:400;
  margin:12px 0;
  color:#9aa7b2;
}

.home p{
  font-size:16px;
  color:#6b7280;
}
